@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* Tipografia */
/* Colores de la marca */
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: #ffffff; }

a:hover {
  color: #c1f3ff; }

p {
  margin: 0px;
  padding: 0px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%; }
  header a:active {
    background-color: #4a4b4b; }
  header .nav-sup {
    background-image: linear-gradient(to top, #2f2f2f 0%, black 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    header .nav-sup a {
      padding: 5px 25px;
      margin: 5px 15px;
      border-radius: 20px; }
      header .nav-sup a img {
        max-height: 60px; }
    header .nav-sup a:hover {
      color: #ecf0f1; }
  header .navbar {
    background-color: #2f2f2f !important;
    padding: 3px 0px; }
    header .navbar .container-fluid .navbar-brand {
      color: #ecf0f1;
      padding: 5px;
      margin: 0px 0px;
      border-radius: 20px; }
    header .navbar .container-fluid .navbar-toggler {
      background-color: #ecf0f1; }
    header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
      padding: 0px 20px;
      margin: 3px 0px; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #ecf0f1;
        border-radius: 20px;
        padding: 2px; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: #c1f3ff; }
    header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown-menu {
      background-color: #ecf0f1; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown-menu li .dropdown-item:hover {
        background-color: #c1f3ff; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown-menu li .dropdown-item:active {
        color: #222222; }

@media (max-width: 425px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    header .nav-sup {
      display: flex;
      flex-direction: column;
      align-content: center; }
      header .nav-sup a {
        padding: 2px;
        margin: 2px;
        font-size: 15px; }
        header .nav-sup a img {
          max-height: 50px; } }

body {
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  body header {
    grid-area: header; }
  body main {
    grid-area: main;
    background-color: #ecf0f1;
    overflow: hidden;
    margin-top: 125px; }
  body footer {
    grid-area: footer; }

@media (max-width: 425px) {
  body main {
    margin-top: 135px; } }

footer .common {
  padding: 10px;
  background-color: #4a4b4b;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap; }
  footer .common div {
    margin-bottom: 10px; }
    footer .common div h5 {
      padding: 5px 0px;
      font-size: 20px;
      color: #ffffff;
      font-weight: bold; }
    footer .common div p {
      color: #ffffff;
      padding: 0px 0px 10px; }
    footer .common div a img {
      margin: 0px 5px;
      width: 30px; }
    footer .common div ul li {
      margin-bottom: 5px; }
  footer .common .newsletter-contact {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column; }
    footer .common .newsletter-contact .newsletter {
      margin-bottom: 10px; }
      footer .common .newsletter-contact .newsletter form {
        display: flex;
        flex-direction: column; }
        footer .common .newsletter-contact .newsletter form input {
          padding: 5px;
          margin-bottom: 5px; }
      footer .common .newsletter-contact .newsletter .contact {
        margin-bottom: 10px; }

footer .legal {
  padding: 5px;
  background-color: #5a5b5c;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }
  footer .legal p {
    color: #ffffff;
    padding: 0px 0px 10px; }
  footer .legal .logo-footer {
    max-height: 55px; }
  footer .legal a {
    padding: 0px 0px 10px; }

@media (max-width: 425px) {
  footer .common {
    display: flex;
    flex-direction: column; }
  footer .legal {
    display: flex;
    flex-direction: column; }
    footer .legal p {
      text-align: center; }
    footer .legal .logo-footer {
      max-height: 50px;
      padding-bottom: 10px; } }

.index-body main .section {
  padding: 20px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .index-body main .section div {
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start; }
    .index-body main .section div p {
      font-size: 30px; }
    .index-body main .section div img {
      padding: 20px;
      margin: 20px;
      width: 150px; }
  .index-body main .section .nota {
    padding: 20px;
    margin: 20px;
    width: 250px; }

.about-us-body .nosotros-main div ul {
  padding: 20px;
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .about-us-body .nosotros-main div ul li {
    padding: 5px;
    margin: 5px; }
    .about-us-body .nosotros-main div ul li h3 {
      padding: 5px 20px;
      margin: 0px 0px 20px;
      font-size: 25px; }
    .about-us-body .nosotros-main div ul li div {
      padding: 5px;
      margin: 10px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      max-width: 800px; }
      .about-us-body .nosotros-main div ul li div img {
        padding: 5px;
        margin: 0px 15px 30px;
        width: 150px; }
      .about-us-body .nosotros-main div ul li div p {
        text-align: start;
        font-size: 20px;
        padding: 5px;
        margin: 0px 15px 30px; }

@media (max-width: 768px) {
  .about-us-body .nosotros-main div ul li div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; } }

.services-body main .acordeon .accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #c1f3ff; }
  .services-body main .acordeon .accordion div h2 button:active {
    color: #c1f3ff;
    background-color: #4a4b4b; }
  .services-body main .acordeon .accordion div h2 .accordion-button:not(.collapsed) {
    color: white;
    background-color: #5a5b5c; }

.news-body .novedades-main h3 {
  padding: 5px;
  margin: 5px;
  font-size: 25px; }

.news-body .novedades-main h4 {
  padding: 5px;
  margin: 0px;
  font-size: 20px; }

.news-body .novedades-main .div2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "noticias noticias aside" "noticias noticias aside";
  justify-items: center;
  align-items: start;
  padding: 5px;
  margin: 20px; }
  .news-body .novedades-main .div2 .noticias {
    grid-area: noticias;
    padding: 5px;
    margin: 5px; }
    .news-body .novedades-main .div2 .noticias section {
      padding: 5px;
      margin: 5px; }
    .news-body .novedades-main .div2 .noticias .tit-fecha {
      padding: 5px;
      margin: 5px;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-between; }
    .news-body .novedades-main .div2 .noticias .imgp {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .news-body .novedades-main .div2 .noticias .imgp img {
        max-width: 75%; }
    .news-body .novedades-main .div2 .noticias .todparr {
      display: inline-block; }
  .news-body .novedades-main .div2 aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
    .news-body .novedades-main .div2 aside .fbnews {
      padding: 5px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .news-body .novedades-main .div2 aside .fbnews h3 {
        text-align: center; }
      .news-body .novedades-main .div2 aside .fbnews .fbiframe {
        margin: auto; }
    .news-body .novedades-main .div2 aside .music .music-spotify {
      height: 75vh; }

@media (max-width: 768px) {
  .news-body .novedades-main .div2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .news-body .novedades-main .div2 aside .fbnews .fbiframe iframe {
      width: 320px; }
    .news-body .novedades-main .div2 aside .music .music-spotify {
      height: 60vh; } }

.contact-body .contacto-main p {
  padding: 20px 0px;
  margin: 0px 20px;
  font-size: 20px; }

.contact-body .contacto-main ul {
  padding: 25px;
  margin: 25px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap; }
  .contact-body .contacto-main ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .contact-body .contacto-main ul li .icon-mail {
      background-image: url(../../recursos/iconos/mail-n.png); }
    .contact-body .contacto-main ul li .txt-mail {
      color: #ffb005; }
    .contact-body .contacto-main ul li .icon-map {
      background-image: url(../../recursos/iconos/map-n.png); }
    .contact-body .contacto-main ul li .txt-map {
      color: #e100ff; }
    .contact-body .contacto-main ul li .icon-tel {
      background-image: url(../../recursos/iconos/tel-n.png); }
    .contact-body .contacto-main ul li .txt-tel {
      color: #1631c9; }
    .contact-body .contacto-main ul li .icon-wpp {
      background-image: url(../../recursos/iconos/wpp-n.png); }
    .contact-body .contacto-main ul li .txt-wpp {
      color: #039e3f; }
    .contact-body .contacto-main ul li div {
      padding: 5px;
      margin: 15px 5px 5px 5px;
      height: 75px;
      width: 75px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
    .contact-body .contacto-main ul li h4 {
      padding: 3px;
      margin: 3px; }
    .contact-body .contacto-main ul li a {
      color: black;
      padding: 5px; }

.contact-body .v-form {
  padding: 20px;
  margin: 20px auto 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  max-width: 300px;
  border-radius: 20px;
  background: #ecf0f1;
  box-shadow: 20px 20px 40px #8e9091, -20px -20px 40px #ffffff; }
  .contact-body .v-form p {
    font-size: 16px;
    padding: 0px;
    margin: 0px; }
  .contact-body .v-form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .contact-body .v-form form input {
      padding: 5px;
      margin: 2px 0px 10px 0px; }
    .contact-body .v-form form .mensaje {
      height: 200px; }

@media (max-width: 768px) {
  .contact-body .contacto-main ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center; }
    .contact-body .contacto-main ul li a {
      text-align: center; } }
