@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: #ffffff; }

p {
  margin: 0px;
  padding: 0px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  header a:active {
    background-color: #4a4b4b; }
  header .nav-sup {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    header .nav-sup a {
      padding: 15px 25px;
      margin: 5px 15px;
      border-radius: 20px; }
      header .nav-sup a img {
        height: 75px; }
    header .nav-sup a:hover {
      color: #c1f3ff; }
  header .navbar {
    background-color: #2f2f2f !important; }
    header .navbar .container-fluid .navbar-brand {
      color: #ecf0f1;
      padding: 8px;
      margin: 15px 0px;
      border-radius: 20px; }
    header .navbar .container-fluid .navbar-toggler {
      background-color: #ecf0f1; }
    header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
      padding: 0px 20px;
      margin: 15px 0px; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #ecf0f1;
        border-radius: 20px; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: #c1f3ff; }
    header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown-menu {
      background-color: #ecf0f1; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown-menu li .dropdown-item:hover {
        background-color: #c1f3ff; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown-menu li .dropdown-item:active {
        color: #222222; }

main {
  background-color: #ecf0f1;
  overflow: hidden; }

footer .common {
  padding: 20px;
  background-color: #4a4b4b;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap; }
  footer .common h5 {
    padding: 0px 0px 15px;
    font-size: 20px;
    color: #ffffff; }
  footer .common p {
    color: #ffffff;
    padding: 0px 0px 10px; }
  footer .common li {
    padding: 0px 0px 10px; }
  footer .common .nombre-redes {
    padding: 0px 20px;
    margin: 0px 0px 20px; }
    footer .common .nombre-redes a img {
      padding: 5px;
      height: 35px; }
  footer .common .navegacion {
    padding: 0px 20px;
    margin: 0px 0px 20px; }
  footer .common .newsletter-contact {
    padding: 0px 20px;
    margin: 0px 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start; }
    footer .common .newsletter-contact div form {
      padding: 0px 0px 20px;
      display: flex;
      flex-direction: column; }
      footer .common .newsletter-contact div form input {
        padding: 5px;
        margin: 0px 0px 5px; }

footer .legal {
  padding: 5px;
  background-color: #5a5b5c;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }
  footer .legal p {
    color: #ffffff;
    padding: 0px 0px 10px; }
  footer .legal .logo-footer {
    height: 75px; }
  footer .legal a {
    padding: 0px 0px 10px; }

.index-body {
  width: 100%;
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  .index-body header {
    grid-area: header; }
  .index-body main {
    grid-area: main; }
    .index-body main .section {
      padding: 20px;
      margin: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .index-body main .section div {
        padding: 20px;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start; }
        .index-body main .section div p {
          font-size: 30px; }
        .index-body main .section div img {
          padding: 20px;
          margin: 20px;
          width: 150px; }
      .index-body main .section .nota {
        padding: 20px;
        margin: 20px;
        width: 250px; }
  .index-body footer {
    grid-area: footer; }

.about-us-body .nosotros-main div ul {
  padding: 20px;
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .about-us-body .nosotros-main div ul li {
    padding: 5px;
    margin: 5px; }
    .about-us-body .nosotros-main div ul li h3 {
      padding: 5px 20px;
      margin: 0px 0px 20px;
      font-size: 25px; }
    .about-us-body .nosotros-main div ul li div {
      padding: 5px;
      margin: 10px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      max-width: 800px; }
      .about-us-body .nosotros-main div ul li div img {
        padding: 5px;
        margin: 0px 15px 30px;
        width: 150px; }
      .about-us-body .nosotros-main div ul li div p {
        text-align: start;
        font-size: 20px;
        padding: 5px;
        margin: 0px 15px 30px; }

.news-body .novedades-main h3 {
  padding: 5px;
  margin: 5px;
  font-size: 25px; }

.news-body .novedades-main h4 {
  padding: 5px;
  margin: 20px;
  font-size: 20px; }

.news-body .novedades-main .div2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "noticias noticias fb" "noticias noticias musica";
  justify-items: center;
  align-items: start;
  padding: 5px;
  margin: 20px; }
  .news-body .novedades-main .div2 .fbnews {
    grid-area: fb;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .news-body .novedades-main .div2 .fbnews .fbiframe {
      margin: auto; }
  .news-body .novedades-main .div2 .noticias {
    grid-area: noticias;
    padding: 5px;
    margin: 5px; }
    .news-body .novedades-main .div2 .noticias section {
      padding: 5px;
      margin: 5px; }
    .news-body .novedades-main .div2 .noticias .tit-fecha {
      padding: 5px;
      margin: 5px;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-between; }
    .news-body .novedades-main .div2 .noticias .imgp {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .news-body .novedades-main .div2 .noticias .imgp img {
        max-width: 75%; }
    .news-body .novedades-main .div2 .noticias .todparr {
      display: inline-block; }
  .news-body .novedades-main .div2 .music {
    grid-area: musica; }
    .news-body .novedades-main .div2 .music .music-spotify {
      height: 75vh; }

.contact-body .contacto-main p {
  padding: 20px 0px;
  margin: 0px 20px;
  font-size: 20px; }

.contact-body .contacto-main ul {
  padding: 25px;
  margin: 25px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap; }
  .contact-body .contacto-main ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .contact-body .contacto-main ul li img {
      width: 50px;
      padding: 5px;
      margin: 15px 5px 5px 5px; }
    .contact-body .contacto-main ul li h4 {
      padding: 3px;
      margin: 3px; }
    .contact-body .contacto-main ul li a {
      color: black;
      padding: 5px; }

.contact-body .contacto-main .v-form {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }
  .contact-body .contacto-main .v-form p {
    font-size: 16px;
    padding: 0px;
    margin: 0px; }
  .contact-body .contacto-main .v-form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .contact-body .contacto-main .v-form form input {
      padding: 5px;
      margin: 2px 0px 10px 0px; }
    .contact-body .contacto-main .v-form form .mensaje {
      height: 200px; }
