footer {

    .common {
        padding: 10px;
        background-color: $gris3;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;

        div {
            margin-bottom: 10px;

            h5 {
                padding: 5px 0px;
                font-size: 20px;
                color: #ffffff;
                font-weight: bold;
            }

            p {
                color: #ffffff;
                padding: 0px 0px 10px;
            }

            a {
                img {
                    margin: 0px 5px;
                    width: 30px;
                }
            }

            ul {
                li {
                    margin-bottom: 5px;
                }
            }
        }

        .newsletter-contact {
            margin-bottom: 0px;
            display: flex;
            flex-direction: column;

            .newsletter {
                margin-bottom: 10px;

                form {
                    display: flex;
                    flex-direction: column;

                    input {
                        padding: 5px;
                        margin-bottom: 5px;
                    }
                }

                .contact {
                    margin-bottom: 10px;
                }

            }

        }
    }

    .legal {
        padding: 5px;
        background-color: $gris4;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

        p {
            color: #ffffff;
            padding: 0px 0px 10px;
        }

        .logo-footer {
            max-height: 55px;
        }

        a {
            padding: 0px 0px 10px;
        }
    }
}


@media (max-width: 425px) {

    footer {

        .common {
            display: flex;
            flex-direction: column;
        }

        .legal {
            display: flex;
            flex-direction: column;

            p {
                text-align: center;
            }

            .logo-footer {
                max-height: 50px;
                padding-bottom: 10px;
            }
        }
    }
}