* {
    font-family: $normal-pop;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: $hovercel;
}

p {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}