body {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
        background-color: $blancoceleste;
        overflow: hidden;
        margin-top: 125px;
    }

    footer {
        grid-area: footer;
    }
}

@media (max-width: 425px) {

    body {
        main {
            margin-top: 135px;
        }
    }
}