@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Tipografia */

$normal-pop: 'Poppins', sans-serif;

/* Colores de la marca */

$blancoceleste: #ecf0f1;
$hovercel: #c1f3ff;
$gris1: #222222;
$gris2: #2f2f2f;
$gris3: #4a4b4b;
$gris4: #5a5b5c;
$grisform: #e6e6e6;

$parr-sup: (
    padd: 20px 0px,
    marg: 0px 20px,
    tfont: 20px,
);

$icons: (
    mail: #ff7e05,
    map: #e100ff,
    tel: #1631c9,
    wpp: #0faf00,
);

@mixin contact-social ($color, $altura, $ancho, $sombra) {
    margin: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $color;
    height: $altura;
    width: $ancho;
    box-shadow: $sombra;
}