@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Tipografia */

$normal-pop: 'Poppins', sans-serif;

/* Colores de la marca */

$blancoceleste: #ecf0f1;
$hovercel: #c1f3ff;
$gris1: #222222;
$gris2: #2f2f2f;
$gris3: #4a4b4b;
$gris4: #5a5b5c;