.contact-body {

    .contacto-main {

        p {
            padding: 20px 0px;
            margin: 0px 20px;
            font-size: 20px;
        }

        ul {
            padding: 25px;
            margin: 25px;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;

                img {
                    width: 50px;
                    padding: 5px;
                    margin: 15px 5px 5px 5px;
                }

                h4 {
                    padding: 3px;
                    margin: 3px;
                }

                a {
                    color: black;
                    padding: 5px;
                }
            }
        }

        .v-form {
            padding: 20px;
            margin: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;

            p {
                font-size: 16px;
                padding: 0px;
                margin: 0px;
            }

            form {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                input {
                    padding: 5px;
                    margin: 2px 0px 10px 0px;
                }

                .mensaje{
                    height: 200px;
                }
            }
        }
    }
}