.news-body {

    .novedades-main {

        h3 {
            padding: 5px;
            margin: 5px;
            font-size: 25px;
        }

        h4 {
            padding: 5px;
            margin: 20px;
            font-size: 20px;
        }

        .div2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            grid-template-areas:
                "noticias noticias aside"
                "noticias noticias aside";

            justify-items: center;
            align-items: start;

            padding: 5px;
            margin: 20px;

            .noticias {
                grid-area: noticias;
                padding: 5px;
                margin: 5px;

                section {
                    padding: 5px;
                    margin: 5px;
                }

                .tit-fecha {
                    padding: 5px;
                    margin: 5px;
                    display: flex;
                    flex-direction: row-reverse;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .imgp {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    img {
                        max-width: 75%;
                    }
                }

                .todparr {
                    display: inline-block;
                }
            }

            aside {
                grid-area: aside;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;

                .fbnews {
                    padding: 5px;
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;

                    h3 {
                        text-align: center;
                    }

                    .fbiframe {
                        margin: auto;
                    }
                }

                .music {
                    .music-spotify {
                        height: 75vh;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .news-body {

        .novedades-main {

            .div2 {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;

                .fbnews {
                    .fbiframe {
                        iframe {
                            width: 320px;
                        }
                    }
                }
            }
        }
    }
}