.news-body {

    .novedades-main {
        h3 {
            padding: 5px;
            margin: 5px;
            font-size: 25px;
        }

        h4 {
            padding: 5px;
            margin: 20px;
            font-size: 20px;
        }

        .div2 {
            padding: 5px;
            margin: 20px;

            .twitternews {
                padding: 5px;
                margin: 5px;

                .twtl {
                    padding: 5px;
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .noticias {
                padding: 5px;
                margin: 5px;

                section {
                    padding: 5px;
                    margin: 5px;
                }

                .tit-fecha {
                    padding: 5px;
                    margin: 5px;
                    display: flex;
                    flex-direction: row-reverse;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .imgp {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    img {
                        max-width: 75%;
                    }
                }

                .todparr {
                    display: inline-block;
                }
            }

            .music {
                .music-spotify {
                    max-width: 1800px !important;
                }
            }
        }
    }
}